# sbt
/target
/project/target
/project/project

# my sbt-dir
/sbt-dir

# eclipse
/.project
/.classpath
/.cache

# idea
/.idea
/.idea_modules

# sbt-package-dist
/dist

# ?
/.settings

# log files created when jvm crashes
/hs_err_pid*.log

